
#sidebar {
  position: fixed;
  left: 0;
  z-index: 1000;
  width: 275px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ebf6f7;
  margin-left: -275px;
  transition: margin .25s ease-out;
}

@media (min-width: 1020px) {
  #sidebar {
    margin-left: 0;
    box-shadow: -2px 0 8px #c3d6d8;
  }
}

#sidebar.nav-open {
  margin-left: 0 !important;
}

.nav-list li.nav-header {
  font-size: 15px;
  color: #931813;
  display: block;
  padding: 3px 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: -5px;
}

ul.nav, .nav ul {
  list-style: none;
}
ul.nav {
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0 0 0 15px;
}
.nav-list li {
  margin-left: 10px;
  margin-bottom: 2px;
  line-height: 1.1;
  font-size: 14px;
}

.nav-list li a:hover {
  background-color: #e4f0f2;
  text-decoration: none;
}
.nav-list li a {
  display: block;
  padding: 3px 15px 4px 15px;
  color: #007c99;
  font-weight: normal;
}

.nav-list .active a, .nav-list .active a:hover {
  color: #ffffff;
  background-color: #006180;
}
.nav li + .nav-header {
  margin-top: 9px;
}

#open-nav-icon {
  color: #007c99;
  background-color: #ebf6f7;
  display: inline-block;
  padding: 6px 6px 4px 6px;
  position: fixed;
  top: 0;
  left: 0;
  border: 15px solid rgba(255,255,255,0.8);
  background-clip: padding-box;
  border-bottom-right-radius: 7px;
}

#close-nav-icon {
  color: #007c99;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (min-width: 1020px) {
  #close-nav-icon {
    display: none;
  }
}

.icofont-xlg
{
  font-size: 1.75em;
}

