
Paragraph {
  font-family: serif;
  font-size: 10pt;
  space-after: 3mm;
}

TitledBlock {
  background-color: #cccccc;
  padding-left: 2cm;
  padding-right: 2cm;
  space-after: 6mm;
}

TitledBlock .title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12pt;
}

QuotedBlock {
  font-style: italic;
  margin-left: 8mm;
  margin-right: 8mm;
  space-after: 3mm;
}

QuotedBlock .attribution {
  text-align: right;
}

LiteralBlock, ParsedLiteralBlock, CodeBlock {
  font-family: monospace;
  font-size: 10pt;
  margin-left: 6mm;
  margin-right: 6mm;
  space-after: 6mm;
  linefeed-treatment: preserve;
}

Image {
  width: 100%;
  space-after: 6mm;
}

Figure {
  space-after: 6mm;
}

Figure .caption {
  font-size: 9pt;
  font-style: italic;
}

Figure .legend {
  font-size: 9pt;
  font-style: italic;
}

Header {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 11pt;
  space-after: 5mm;
  space-before: 9mm;
}

Title, Header.level1 {
  font-family: sans-serif;
  font-size: 16pt;
  space-after: 7mm;
  space-before: 12mm;
}

Header.level2 {
  font-size: 14pt;
}

Header.level3 {
  font-size: 12pt;
}

BulletList {
  space-after: 6mm;
  provisional-distance-between-starts: 5mm;
}

EnumList {
  space-after: 6mm;
  provisional-distance-between-starts: 5mm;
}

DefinitionList {
  space-after: 6mm;
  provisional-distance-between-starts: 20mm;
}

BulletListItem {
  space-after: 3mm;
}

EnumListItem {
  space-after: 3mm;
}

DefinitionListItem {
  space-after: 3mm;
}

ListItemBody {
	
}

ListItemLabel {
  
}

Table {
  space-after: 6mm;
}

TableHead {
	
}

TableBody {
	
}

Column {
	
}

Row {
	
}

Cell {
	
}

PageBreak {
  page-break-before: always;
}

Footnote, Citation {
  font-size: 8pt;
}

FootnoteLink, CitationLink {
  color: #3399FF;
}

Emphasized {
  font-style: italic;
}

Strong, .title {
  font-weight: bold;
}

Literal, Code {
  font-family: monospace;
}

.subscript {
  vertical-align: sub; 
  font-size: 8pt;
}

.superscript, .footnote-label {
  vertical-align: super; 
  font-size: 8pt;
}

ExternalLink, InternalLink, CrossLink {
  font-weight: bold;
  color: #3399FF;
}

SystemMessage {
  color: white;
}

SystemMessage.debug, SystemMessage.info {
  background-color: #888888;
}

SystemMessage.warning {
  background-color: #ffff33;
}

SystemMessage.error, SystemMessage.fatal {
  background-color: #ff0000;
}

Rule {
	
}

LineBlock {
  margin-left: 2cm;
}

Line {
	
}

BookmarkTree {
	
}

Bookmark {
	
}

BookmarkTitle {
	
}

Paragraph.toc {
  text-align-last: justify;
}
