.btn {
  color: #006180;
  line-height: 20px;
  font-size: 13px;
  margin: 0px;
  display: inline-block;
  border: 1px solid #c3d6d8;
  
  background-color: #d8ebed;
  background-repeat: repeat-x; /* ??? */
  background-image: linear-gradient(to bottom, #ffffff, #d8ebed);
  background-repeat: repeat-x;
    
  padding-left: 9px;
  padding-right: 9px;
}
  
.btn:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
  
.btn.active {
  background-color: #006180;
  border: 1px solid #006180;
  color: #fff;
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.55), 0 1px 2px rgba(0, 0, 0, 0.05);
}
  
.btn:hover, .btn:focus, .btn:active, .btn.active {
  background-position: 0 -15px;
}
  
.btn-group > .btn {
  position: relative;
  border-radius: 0;
}
  
.btn-group > .btn:first-child {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
  
.btn-group > .btn:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
  
.btn-group {
  position: relative;
  display: inline-block;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  margin-bottom: 15px;
  margin-top: 11px;
}
