.row {
  width: 1526px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.left, .middle, .right {
  float: left;
  width: 480px;
}

.left {
  text-align: center;
}

.middle, .right {
  margin-left: 40px;
}

.middle-right {
  float: left;
}

.right {
  float: right;
}

@media (max-width: 1536px) {
  .right {
    float: none;
    margin-left: 0px;
  }
    
  .middle {
    float: none;
  }
    
  .row {
    width: 1006px;
  }
    
  .right {
    margin-top: 10px;
    margin-left: 40px;
  }
    
}
  
@media (max-width: 1016px) {
  .middle-right {
    float: none;
    margin-left: 0px;
    margin-top: 10px;
  }
  
  .middle, .right {
    margin-left: 0px;
  }
    
  .left {
    float: none;
  }
    
  .row {
    width: 480px;
    margin-top: 30px;
  }
    
}
