.row {
  width: 93%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 3px solid red;
  box-sizing: border-box;
}

#app {
  border: 3px solid green;
  height: 100%;
}

.left, .right {
  margin-left: auto;
  margin-right: auto;
  width: 48%;
  height: calc(100% - 190px);
  text-align: center;
  border: 3px solid cyan;
}

.left {
  float: left;
}
.right { 
  float: right;
}
