@font-face {
  font-family: 'angle';
  src: url('../font/angle.woff?11170821') format('woff');
  font-weight: normal;
  font-style: normal;
}
 
.icon {
  font-family: "angle";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-top: .07em;
  margin-right: .3em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  font-size: 110%;
}

.icon:hover {
  color: #d8ebed; 
}
