
.output {
  color: #5f5f5f;
}

.output h1, .output h2, .output h3, .output h4, .output h5, .output h6 {
  color: #006180;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
}

.output h1 {
  font-size: 24px;
}
.output h2 {
  font-size: 20px;
}
.output h3 {
  font-size: 17px;
}
.output h4 {
  font-size: 16px;
}
.output h5, .output h6 {
  font-size: 15px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #c3d6d8;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
thead tr, tbody tr:nth-child(even) {
  background-color: #ebf6f7;
}
th {
  padding: 7px;
}
td {
  padding: 7px;
}

.output a {
  cursor: pointer;
  color: #931813;
  font-weight: bold;
}
.output a:hover {
  color: #931813;
  text-decoration: underline;
}

.output ol.lowerroman {
  list-style-type:lower-roman
}
.output ol.upperroman {
  list-style-type:upper-roman
}
.output ol.loweralpha {
  list-style-type:lower-alpha
}
.output ol.upperalpha {
  list-style-type:upper-alpha
}

.output blockquote {
  font-style: italic;
  margin-left: 15px;
}

.output pre {
  color: #ffffff;
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.html-rendered pre {
  background-color: #2a3236;
  border-radius: 5px;
  padding: 7px 15px;
  box-sizing: border-box;
  overflow-x: auto;
}
code {
  color: #006180;
  background-color: #ebf6f7;
  border: 1px solid #c3d6d8;
  border-radius: 5px;
  font-family: 'Fira Code', monospace;
  font-size: 13px;
}
pre code {
  color: #e8e8e8;
  background-color: #2a3236;
  border-style: none;
  font-size: 14px;
}
code .keyword, .escape-sequence {
  color: #ef9725;
}
code .type-name, code .tag-name {
  color: #4dbed4;
}
code .attribute-name, code .declaration-name {
  color: #ffc66d;
}
code .identifier {
  color: #bddcee;
}
code .number-literal, .string-literal, .literal-value, .boolean-literal, .char-literal {
  color: #7fb971;
}
code .markup-link-text {
  color: #65A861;
}
code .markup-link-target {
  color: #c1d225;
}
code .markup-headline {
  color: #bb88d2;
}
code .markup-emphasized {
  color: #d27b84;
}
code .substitution {
  color: #e28e93;
}
code .tag-punctuation {
  color: #b2adb4;
}
code .comment {
  color: #8c878e;
}
