@:if(helium.site.pageNavigation.enabled)
<nav id="page-nav"@:if(helium.site.pageNavigation.keepOnSmallScreens) class="all-screens"@:@>
  <p class="header"><a href="#">${cursor.currentDocument.title}</a></p>

  @:navigationTree {
    entries = [
      { target = "#", excludeRoot = true, depth = ${helium.site.pageNavigation.depth} }
    ]
  }

  <p class="footer">@:for(helium.site.pageNavigation.sourceEditLinks)<a href="${_.baseURL}${cursor.currentDocument.sourcePath}">${_.icon}${_.text}</a>@:@</p>
</nav>
@:@