
p {
  margin: 0 0 10px;
}
section {
  padding-top: 30px;
}
.page-header {
  padding-top: 30px;
  padding-bottom: 4px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #dddddd;
}

section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 25px;
  line-height: 1.5;
}

ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

ul li {
  margin-bottom: 5px;
  line-height: 1.5;
}

li ul {
  margin-bottom: 10px;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  line-height: 20px;
  color: #931813;
}

h1, h2, h3 {
  line-height: 40px;
}

h1 {
  font-size: 34px;
}
h2 {
  font-size: 28px;
  margin-top: 35px;
  margin-bottom: 12px;
}
h3 {
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 4px;
}

a {
  color: #931813;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #931813;
  text-decoration: underline;
}

a.anchor-link {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  width: 30px;
  margin-left: -30px;
  margin-top: -3px;
  padding-right: 12px;
  text-align: right;
  text-decoration: none;
}

h1:hover > a.anchor-link, 
h2:hover > a.anchor-link, 
h3:hover > a.anchor-link, 
h4:hover > a.anchor-link, 
h5:hover > a.anchor-link, 
h6:hover > a.anchor-link {
  visibility: visible;
  text-decoration: none;
}

.anchor {
  color: #007c99;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
