
p {
  margin: 0 0 10px;
}
section {
  padding-top: 30px;
}
.page-header {
  padding-top: 30px;
  padding-bottom: 4px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #dddddd;
}

section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 25px;
  line-height: 1.5;
}

ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

ul li {
  margin-bottom: 5px;
  line-height: 1.5;
}

li ul {
  margin-bottom: 10px;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  line-height: 20px;
  color: #931813;
}

h1, h2, h3 {
  line-height: 40px;
}

h1 {
  font-size: 34px;
}
h2 {
  font-size: 28px;
  margin-top: 35px;
  margin-bottom: 12px;
}
h3 {
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 4px;
}

a {
  color: #931813;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #931813;
  text-decoration: underline;
}

a.anchor-link {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  width: 30px;
  margin-left: -30px;
  margin-top: -3px;
  padding-right: 12px;
  text-align: right;
  text-decoration: none;
}

h1:hover > a.anchor-link, 
h2:hover > a.anchor-link, 
h3:hover > a.anchor-link, 
h4:hover > a.anchor-link, 
h5:hover > a.anchor-link, 
h6:hover > a.anchor-link {
  visibility: visible;
  text-decoration: none;
}

.anchor {
  color: #007c99;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.callout {
  margin: 20px 20px;
  padding: 4px 10px;
  border-radius: 5px;
}
.callout .icon {
  display: block;
  padding: 5px 0;
}

.callout.warning {
  background-color: #fcfacd;
  border-left: 7px solid #b1a400;
}
.callout.warning .icon {
  color: #b1a400;
}

.callout.info {
  background-color: #ebf6f7;
  border-left: 7px solid #007c99;
}
.callout.info .icon {
  color: #007c99;
}

.callout.error {
  background-color: #ffe9e3;
  border-left: 7px solid #d83030;
}
.callout.error .icon {
  color: #d83030;
}

.tab-container {
  margin-top: 18px;
}
ul.tab-group {
  list-style: none;
  margin: 0;
  padding: 0;
}
li.tab {
  display: inline-block;
  border: 1px solid #c3d6d8;
  border-radius: 5px 5px 0 0;
  background-color: #ebf6f7;
  padding: 2px 5px;
  margin-bottom: -1px !important;
  color: #007c99;
}
li.tab a, li.tab a:hover {
  color: #007c99;
  text-decoration: none;
}
li.tab.active a {
  cursor: default;
}
li.tab.active {
  background-color: white;
  border-bottom-color: transparent;
}
.tab-content {
  display: none;
  padding: 2px 5px;
  border: 1px solid #c3d6d8;
  border-radius: 0 5px 5px 5px;
  margin-top: 0 !important;
}
.tab-content.active {
  display: block;
}

