
p {
  margin: 0 0 10px;
}
section {
  padding-top: 30px;
}
.page-header {
  padding-top: 30px;
  padding-bottom: 4px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #dddddd;
}

section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 25px;
  line-height: 1.5;
}

ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

ul li {
  margin-bottom: 5px;
  line-height: 1.5;
}

li ul {
  margin-bottom: 10px;
  margin-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  line-height: 20px;
}

h1, h2, h3 {
  line-height: 40px;
}

h1 {
  font-size: 34px;
}
h2 {
  margin-top: 35px;
  margin-bottom: 12px;
  font-size: 28px;
}

h3 {
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 4px;
}

.affix {
  top: 20px;
}

.nav-list li.nav-header {
  font-size: 15px;
  color: #931813;
  display: block;
  padding: 3px 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: -5px;
}
.toc.nav-header {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 36px;
  background: linear-gradient(180deg, #ffffff 65%, #c3d6d8 65%);
}
.toc.active {
  display: none;
}
.toc.level2 {
  font-size: 28px;
  color: #007c99;
}
.toc.level3 {
  font-size: 18px;
}
.toc.level4 a {
  color: #007c99;
}
.toc.level3 a {
  color: #007c99;
}
p.toc {
  margin-bottom: 5px;
}
ul.nav, .nav ul {
  list-style: none;
}
ul.nav {
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0 0 0 15px;
}
ul.toc, .toc ul {
  list-style: none;
}
.nav-list li {
  margin-left: 10px;
  margin-bottom: 2px;
  line-height: 1.1;
  font-size: 14px;
}

.nav-list li a:hover {
  background-color: #e4f0f2;
}
.nav-list li a {
  display: block;
  padding: 3px 15px 4px 15px;
  color: #007c99;
  font-weight: normal;
}
.follow {
  margin-top: 4px;
}
.nav-list .active a, .nav-list .active a:hover {
  color: #ffffff;
  background-color: #006180;
}
.nav li + .nav-header {
  margin-top: 9px;
}

a {
  color: #931813;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #931813;
}
h1, h2, h3, h4, h5, h6 {
  color: #931813;
}

.nav-top, .nav-bottom {
  padding: 9px 0;
  text-align: center;
}

@media (max-width: 1069px) {
  body {
    font-size: 14px;
    line-height: 1.4;
  }
  
  .span8 {
    width: 620px;
  }

  .container {
    width: 940px;
  }

  code {
    font-size: 12px;
  }

  pre code {
    font-size: 13px;
  }
}

@media (max-width: 620px) {
  .span8 {
    width: 100%;
    margin-left: 0px;
  }
}
