
/* images =================================== */

.medium-image, .small-image {
  text-align: center;
}
.medium-image img {
  width: 65%;
  height: auto;
}
.small-image img {
  width: 45%;
  height: auto;
}

/* color samples ============================ */

.color-block {
  margin-bottom: 35px;
}

.color-row {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.color-cell p {
  font-weight: bold;
}

.color-box {
  width: 100px;
  height: 100px;
}

/* svg icon ===================================== */

.row a {
  line-height: 1.75em;
}

.api-link {
  position: relative;
  top: 4px;
}

.svg-icon {
  height: 1.7em;
  width: 1.7em;
}

#api-icon {
  fill: var(--primary-color);
}

a:hover #api-icon {
  fill: var(--secondary-color);
}
