pre {
  display: block;
  background-color: var(--syntax-base1);
  border-radius: 5px;
  padding: 12px 9px 9px 15px;
  margin: 0 0 var(--block-spacing);
  font-size: var(--code-font-size);
  line-height: 21px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
code {
  font-family: var(--code-font);
  color: var(--primary-color);
  background-color: var(--primary-light);
  border: 1px solid var(--primary-medium);
  border-radius: 5px;
  font-size: 0.85em;
  white-space: nowrap;
  padding: 1px 4px;
}
pre code {
  font-size: var(--code-font-size);
  color: var(--syntax-base5);
  background-color: transparent;
  padding: 0;
  border: 0;
  white-space: pre-wrap;
}

code .identifier {
  color: var(--syntax-base4);
}
code .tag-punctuation {
  color: var(--syntax-base3);
}
code .comment, code .xml-cdata, code .markup-quote {
  color: var(--syntax-base2);
}

code .substitution, code .xml-processing-instruction, code .markup-emphasized, code .annotation {
  color: var(--syntax-wheel1);
}
code .keyword, code .escape-sequence, code .markup-headline {
  color: var(--syntax-wheel2);
}
code .attribute-name, .markup-link-target, code .declaration-name {
  color: var(--syntax-wheel3);
}
code .number-literal, .string-literal, .literal-value, .boolean-literal, .char-literal, .symbol-literal, .regex-literal, .markup-link-text {
  color: var(--syntax-wheel4);
}
code .type-name, code .tag-name, code .xml-dtd-tag-name, code .markup-fence {
  color: var(--syntax-wheel5);
}
