
body {
  font-family: var(--body-font);
  text-align: justify; 
  font-size: medium;
  line-height: var(--line-height);
}


/* table of content ========================================= */

/* TODO - these are very old styles and may no longer match the output */

ol.toc { 
  padding: 0; 
  list-style: none; 
}
ol.toc a {
  display: block;
}
ol.toc li { list-style-type: none; margin: 0; padding: 0; }
ol.toc > li > a {
  padding-top: 20px;
  font-size: 21px;
}
ol.toc > li > ol > li > a {
  padding-top: 20px;
  font-size: 16px;
}
ol.toc > li > ol > li > ol > li > a {
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 13px;
}

/* remove ============================================================================ */

p {
  /*margin: 0 0 var(--block-spacing);*/
  /*border: 1px solid red;*/
}
section {
  /*padding-top: 30px;*/
}

section > .lead {
  /*color: #5a5a5a; !* TODO *!*/
}

/* lists ========================================= */

section > ul li {
  margin-bottom: 25px; /* TODO */
  line-height: var(--line-height);
}

ul, ol {
  padding: 0;
  margin: 0 0 var(--block-spacing) 25px;
}

ul li {
  margin-bottom: 5px;
  line-height: var(--line-height);
}

li ul {
  margin-bottom: var(--block-spacing);
  margin-top: 0;
  margin-left: 25px;
}

/* headers ========================================= */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  color: var(--secondary-color);
  margin: var(--block-spacing) 0;
  line-height: 20px; /* TODO */
  /*break-after: avoid;*/
  /*page-break-after: avoid;*/
  page-break-inside: avoid;
}

/* this is a hack, since e-book readers do not support break-after: avoid properly */
h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
  content: "x";
  color: transparent;
  display: block;
  height: 100px;
  margin-bottom: -100px;
}

h1, h2, h3 {
  line-height: 40px; /* TODO */
}

h1 {
  font-size: var(--title-font-size);
}
h1.title {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #dddddd;
}
h2 {
  font-size: var(--header2-font-size);
  margin-top: 35px;
  margin-bottom: 12px; /* TODO */
}
h3 {
  font-size: var(--header3-font-size);
  margin-top: 28px;
  margin-bottom: 4px; /* TODO */
}
h4, h5, h6 {
  font-size: var(--header4-font-size);
  margin-top: 16px;
  margin-bottom: 4px; /* TODO */
}
p.title {
  font-weight: bold;
}

/* links ========================================= */

a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* callouts ========================================= */

.icofont-laika {
  font-family: 'IcoFont' !important;
  font-size: 1.75em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
  /*border: 1px solid green;*/
}

.callout {
  margin: 20px 20px;
  padding: 4px 10px;
  border-radius: 5px;
}
.callout .icofont-laika {
  display: block;
  padding: 5px 0;
  margin-bottom: -12px;
}

.callout.warning {
  background-color: var(--messages-warning-light);
  border-left: 7px solid var(--messages-warning);
}
.callout.warning .icofont-laika {
  color: var(--messages-warning);
}

.callout.info {
  background-color: var(--messages-info-light);
  border-left: 7px solid var(--messages-info);
}
.callout.info .icofont-laika {
  color: var(--messages-info);
}

.callout.error {
  background-color: var(--messages-error-light);
  border-left: 7px solid var(--messages-error);
}
.callout.error .icofont-laika {
  color: var(--messages-error);
}

/* tables ========================================= */

table {
  margin: 20px 0;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
thead > tr {
  border-bottom: 1px solid #dddddd;
}
td {
  padding: 5px 8px;
}
tbody > tr:nth-child(odd) {
  background: #f2f2f2;
}

/* other ========================================= */

blockquote {
  margin: 20px;
  font-style: italic;
}

.keep-together.epub {
  page-break-inside: avoid;
}

a.footnote-ref { vertical-align: super; }
