
p, main > div {
  margin: 0 0 var(--block-spacing);
}

/* lists =========================================== */

section > ul li {
  margin-bottom: 25px;
  line-height: var(--line-height);
}

ul, ol {
  padding: 0;
  margin: 0 0 var(--block-spacing) 25px;
}

ul li {
  margin-bottom: calc(var(--block-spacing) / 2);
  line-height: var(--line-height);
}

li ul {
  margin-bottom: var(--block-spacing);
  margin-top: 0;
}

/* headers =========================================== */

section {
  padding-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  color: var(--secondary-color);
  margin: var(--block-spacing) 0;
  line-height: 20px; /* TODO */
}

h1, h2, h3 {
  line-height: 40px; /* TODO */
}

h1 {
  font-size: var(--title-font-size);
}
h1.title {
  padding-top: calc(40px + var(--top-bar-height));
  padding-bottom: 10px;
  margin-bottom: calc(var(--block-spacing) * 3);
  border-bottom: 1px solid var(--primary-medium);
}
h2 {
  font-size: var(--header2-font-size);
  margin-top: calc(var(--block-spacing) * 3.5);
  margin-bottom: calc(var(--block-spacing) * 1.2);
}
h3 {
  font-size: var(--header3-font-size);
  margin-top: calc(var(--block-spacing) * 1.6);
  margin-bottom: calc(var(--block-spacing) / 2);
}
h4, h5, h6 {
  font-size: var(--header4-font-size);
  margin-top: calc(var(--block-spacing) * 1.6);
  margin-bottom: calc(var(--block-spacing) / 2);
}

/* links =========================================== */

a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* images =========================================== */

.default-image-block {
  text-align: center;
}

.default-image-block img {
  width: 90%;
  height: auto;
}

img.default-image-span {
  height: 1em;
  width: auto;
}

/* anchor =========================================== */

a.anchor-link {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  width: 1.4em;
  margin-top: -3px;
  text-align: right;
  text-decoration: none;
}
a.anchor-link.left {
  margin-left: -1.4em;
  padding-right: 0.5em;
}
a.anchor-link.right {
  padding-left: 0.5em;
  text-align: left;
}

h1:hover > a.anchor-link,
h2:hover > a.anchor-link,
h3:hover > a.anchor-link,
h4:hover > a.anchor-link,
h5:hover > a.anchor-link,
h6:hover > a.anchor-link {
  visibility: visible;
  text-decoration: none;
}

.anchor-link .icofont-laika {
  font-size: 0.75em;
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* callout =========================================== */

.callout {
  margin: calc(var(--block-spacing) * 2);
  padding: 4px 10px;
  border-radius: 5px;
}
.callout .icofont-laika {
  display: block;
  padding: 5px 0;
}

.callout.warning {
  background-color: var(--messages-warning-light);
  border-left: 7px solid var(--messages-warning);
}
.callout.warning .icofont-laika {
  color: var(--messages-warning);
}

.callout.info {
  background-color: var(--messages-info-light);
  border-left: 7px solid var(--messages-info);
}
.callout.info .icofont-laika {
  color: var(--messages-info);
}

.callout.error {
  background-color: var(--messages-error-light);
  border-left: 7px solid var(--messages-error);
}
.callout.error .icofont-laika {
  color: var(--messages-error);
}

/* inline runtime messages  ======================== */

.inline {
  border-radius: 5px;
  padding: 0 5px 2px 5px
}
.inline code {
  padding-left: 10px;
}
.inline.info {
  background-color: var(--messages-info-light);
  border: 1px solid var(--messages-info);
}
.inline.warning {
  background-color: var(--messages-warning-light);
  border: 1px solid var(--messages-warning);
}
.inline.error {
  background-color: var(--messages-error-light);
  border: 1px solid var(--messages-error);
}

/* tabs =========================================== */

.tab-container {
  margin-top: calc(var(--block-spacing) * 1.8);
  margin-bottom: calc(var(--block-spacing) * 1.8);
}
ul.tab-group {
  list-style: none;
  margin: 0;
  padding: 0;
}
li.tab {
  display: inline-block;
  border: 1px solid var(--primary-medium);
  border-radius: 5px 5px 0 0;
  background-color: var(--primary-light);
  padding: 2px 5px;
  margin-bottom: -1px !important;
  color: var(--primary-color);
}
li.tab a, li.tab a:hover {
  color: var(--primary-color);
  text-decoration: none;
}
li.tab.active a {
  cursor: default;
}
li.tab.active {
  background-color: var(--bg-color);
  border-bottom-color: transparent;
}
.tab-content {
  display: none;
  padding: 12px 5px 5px;
  border: 1px solid var(--primary-medium);
  border-radius: 0 5px 5px 5px;
  margin-top: 0 !important;
}
.tab-content.active {
  display: block;
}

/* tables =========================================== */

table {
  margin: calc(var(--block-spacing) * 2) 0;
  border: 1px solid var(--primary-medium);
  border-collapse: collapse;
}
thead > tr {
  border-bottom: 1px solid var(--primary-medium);
}
td, th {
  padding: 5px 8px;
}
tbody > tr:nth-child(odd) {
  background: var(--primary-light);
}

/* svg icon ===================================== */

.row a {
  line-height: 1.75em;
}

.svg-link {
  position: relative;
  top: 4px;
}

.svg-icon {
  height: 1.7em;
  width: 1.7em;
}

.svg-shape {
  fill: var(--primary-color);
}

a:hover .svg-shape {
  fill: var(--secondary-color);
}

/* footer ========================================== */

.footer-rule {
  margin-top: 30px;
}
footer {
  font-size: 0.9em;
  text-align: center;
}

/* other =========================================== */

blockquote {
  margin: calc(var(--block-spacing) * 2);
  font-style: italic;
}

p.title {
  font-weight: bold;
}
.downloads {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 30px var(--block-spacing) 0;
}
.downloads img {
  width: 245px;
  height: auto;
  display: inline-block;
}

.keep-together {
  page-break-inside: avoid;
}
