
p {
  margin: 0 0 var(--block-spacing);
}
section {
  padding-top: 30px;
}
.page-header {
  padding-top: 30px;
  padding-bottom: 4px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #dddddd;
}

section > .page-header,
section > .lead {
  color: #5a5a5a; /* TODO */
}
section > ul li {
  margin-bottom: 25px; /* TODO */
  line-height: var(--line-height);
}

ul, ol {
  padding: 0;
  margin: 0 0 var(--block-spacing) 25px;
}

ul li {
  margin-bottom: 5px;
  line-height: var(--line-height);
}

li ul {
  margin-bottom: var(--block-spacing);
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  color: var(--secondary-color);
  margin: var(--block-spacing) 0;
  line-height: 20px; /* TODO */
}

h1, h2, h3 {
  line-height: 40px; /* TODO */
}

h1 {
  font-size: var(--title-font-size);
}
h1.title {
  padding-top: 45px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #dddddd;
}
h2 {
  font-size: var(--header2-font-size);
  margin-top: 35px;
  margin-bottom: 12px; /* TODO */
}
h3 {
  font-size: var(--header3-font-size);
  margin-top: 16px;
  margin-bottom: 4px; /* TODO */
}
h4, h5, h6 {
  font-size: var(--header4-font-size);
  margin-top: 16px;
  margin-bottom: 4px; /* TODO */
}

a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

a.anchor-link {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  width: 30px;
  margin-left: -30px;
  margin-top: -3px;
  padding-right: 12px;
  text-align: right;
  text-decoration: none;
}

h1:hover > a.anchor-link,
h2:hover > a.anchor-link,
h3:hover > a.anchor-link,
h4:hover > a.anchor-link,
h5:hover > a.anchor-link,
h6:hover > a.anchor-link {
  visibility: visible;
  text-decoration: none;
}

.anchor {
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.callout {
  margin: 20px 20px;
  padding: 4px 10px;
  border-radius: 5px;
}
.callout .icon {
  display: block;
  padding: 5px 0;
}

.callout.warning {
  background-color: var(--messages-warning-light);
  border-left: 7px solid var(--messages-warning);
}
.callout.warning .icon {
  color: var(--messages-warning);
}

.callout.info {
  background-color: var(--messages-info-light);
  border-left: 7px solid var(--messages-info);
}
.callout.info .icon {
  color: var(--messages-info);
}

.callout.error {
  background-color: var(--messages-error-light);
  border-left: 7px solid var(--messages-error);
}
.callout.error .icon {
  color: var(--messages-error);
}

.tab-container {
  margin-top: 18px;
}
ul.tab-group {
  list-style: none;
  margin: 0;
  padding: 0;
}
li.tab {
  display: inline-block;
  border: 1px solid #c3d6d8; /* TODO */
  border-radius: 5px 5px 0 0;
  background-color: var(--primary-light);
  padding: 2px 5px;
  margin-bottom: -1px !important;
  color: var(--primary-color);
}
li.tab a, li.tab a:hover {
  color: var(--primary-color);
  text-decoration: none;
}
li.tab.active a {
  cursor: default;
}
li.tab.active {
  background-color: white;
  border-bottom-color: transparent;
}
.tab-content {
  display: none;
  padding: 2px 5px;
  border: 1px solid #c3d6d8; /* TODO */
  border-radius: 0 5px 5px 5px;
  margin-top: 0 !important;
}
.tab-content.active {
  display: block;
}
.keep-together {
  page-break-inside: avoid;
}
