
body {
  font-family: var(--body-font);
  text-align: justify; 
  font-size: var(--body-font-size);
  line-height: var(--line-height);
}

/* table of content additions ========================================= */



/* remove ============================================================= */

p {
  /*margin: 0 0 var(--block-spacing);*/
  /*border: 1px solid red;*/
}
section {
  /*padding-top: 30px;*/
}

section > .lead {
  /*color: #5a5a5a;*/
}

/* lists ========================================= */

section > ul li {
  margin-bottom: 25px;
  line-height: var(--line-height);
}

ul, ol {
  padding: 0;
  margin: 0 0 var(--block-spacing) 25px;
}

ul li {
  margin-bottom: calc(var(--block-spacing) / 2);
  line-height: var(--line-height);
}

li ul {
  margin-bottom: var(--block-spacing);
  margin-top: 0;
  margin-left: 25px;
}

/* headers ========================================= */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  color: var(--secondary-color);
  margin: var(--block-spacing) 0;
  line-height: 20px; /* TODO */
  /*break-after: avoid;*/
  /*page-break-after: avoid;*/
  page-break-inside: avoid;
}

/* this is a hack, since e-book readers do not support break-after: avoid properly */
h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
  content: "x";
  color: transparent;
  display: block;
  height: 100px;
  margin-bottom: -100px;
}

h1, h2, h3 {
  line-height: 40px; /* TODO */
}

h1 {
  font-size: var(--title-font-size);
}
h1.title {
  padding-bottom: 10px;
  margin-bottom: calc(var(--block-spacing) * 3);
  border-bottom: 1px solid var(--primary-medium);
}
h2 {
  font-size: var(--header2-font-size);
  margin-top: calc(var(--block-spacing) * 3.5);
  margin-bottom: calc(var(--block-spacing) * 1.2);
}
h3 {
  font-size: var(--header3-font-size);
  margin-top: calc(var(--block-spacing) * 2.8);
  margin-bottom: calc(var(--block-spacing) / 2);
}
h4, h5, h6 {
  font-size: var(--header4-font-size);
  margin-top: calc(var(--block-spacing) * 1.6);
  margin-bottom: calc(var(--block-spacing) / 2);
}
p.title {
  font-weight: bold;
}

/* links ========================================= */

a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* images =========================================== */

.default-image-block {
  text-align: center;
}

.default-image-block img {
  width: 90%;
  height: auto;
}

img.default-image-span {
  height: 1em;
  width: auto;
}

/* callouts ========================================= */

.icofont-laika {
  font-family: 'IcoFont' !important;
  font-size: 1.75em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
  /*border: 1px solid green;*/
}

.callout {
  margin: calc(var(--block-spacing) * 2);
  padding: 4px 10px;
  border-radius: 5px;
}
.callout .icofont-laika {
  display: block;
  padding: 5px 0;
  margin-bottom: -12px;
}

.callout.warning {
  background-color: var(--messages-warning-light);
  border-left: 7px solid var(--messages-warning);
}
.callout.warning .icofont-laika {
  color: var(--messages-warning);
}

.callout.info {
  background-color: var(--messages-info-light);
  border-left: 7px solid var(--messages-info);
}
.callout.info .icofont-laika {
  color: var(--messages-info);
}

.callout.error {
  background-color: var(--messages-error-light);
  border-left: 7px solid var(--messages-error);
}
.callout.error .icofont-laika {
  color: var(--messages-error);
}

/* tables ========================================= */

table {
  margin: calc(var(--block-spacing) * 2) 0;
  border: 1px solid var(--primary-medium);
  border-collapse: collapse;
}
thead > tr {
  border-bottom: 1px solid var(--primary-medium);
}
td {
  padding: 5px 8px;
}
tbody > tr:nth-child(odd) {
  background: var(--primary-light);
}

/* other ========================================= */

blockquote {
  margin: calc(var(--block-spacing) * 2);
  font-style: italic;
}

.keep-together.epub {
  page-break-inside: avoid;
}

a.footnote-ref { vertical-align: super; }
