
/* top navigation bar =========================================== */

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--top-bg);
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--top-bar-height);
  z-index: 2000;
  width: 100%;
  align-items: center;
  padding: 0 45px 0 20px;
  border-bottom: 1px solid var(--top-border);
}
header a, nav .row a {
  color: var(--top-color);
}
header a:hover, nav .row a:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--top-hover)
}
header img, nav .row img {
  height: 80%;
  width: auto;
}
header .row a, nav .row a {
  margin: 0 0 0 20px;
}
header .row.links {
  display: none;
}
nav .row {
  margin: 10px 15px 3px 25px;
  padding-bottom: 7px;
  border-bottom: 1px solid var(--top-border);
}

#nav-icon {
  display: inline-block;
}
@media (min-width: 1020px) {
  #nav-icon {
    display: none;
  }
}
@media (min-width: 500px) {
  header .row.links {
    display: block;
  }
  nav .row {
    display: none;
  }
}

.text-link {
  position: relative;
  bottom: 2px;
}

.button-link {
  position: relative;
  bottom: 2px;
  display: inline-block;
  border-radius: 9px;
  padding: 0 7px;
  background-color: var(--top-color);
  color: var(--top-bg);
  font-size: 0.9em;
}
.button-link:hover {
  background-color: var(--top-hover);
  color: var(--top-bg);
}

/* version dropdown ============================================== */

.drop-down-toggle:after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  margin-left: 0.2em;
  margin-bottom: 0.1em;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--primary-color);
}

.drop-down-toggle:hover:after {
  border-top: 8px solid var(--secondary-color);
}

#version-menu-container {
  position: relative;
  display: inline-block;
}

#version-menu {
  display: none;
  position: absolute;
  z-index: 5000;
  left: 20px;
  top: calc(var(--top-bar-height) - 10px);
  background-color: white;
  border: 1px solid var(--primary-medium);
  border-radius: 5px;
  white-space: nowrap;
}

#version-menu ul.nav-list {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}
#version-menu .nav-list li {
  margin-left: 0;
  margin-bottom: 2px;
}
#version-menu .nav-list li a {
  margin: 0;
  line-height: 1.2;
}
#version-menu.versions-open {
  display: block;
}
.left-column {
  display: inline-block;
  width: 3.5em;
}
.version-label {
  border-radius: 3px;
  padding: 1px 3px;
  color: white;
  font-size: 0.8em;
  margin-right: 1em;
}
.version-label.eol {
  background-color: gray;
}
.version-label.stable {
  background-color: green;
}
.version-label.dev, .version-label.development, .version-label.milestone {
  background-color: yellow;
  color: black;
}

/* left navigation bar =========================================== */

#sidebar {
  position: fixed;
  background-color: var(--primary-light);
  width: var(--nav-width);
  margin-left: calc(var(--nav-width) * -1);
  left: 0;
  z-index: 1000;
  height: calc(100% - var(--top-bar-height));
  top: var(--top-bar-height);
  overflow-x: hidden;
  overflow-y: auto;
  transition: margin .25s ease-out;
}

@media (min-width: 1020px) {
  #sidebar {
    margin-left: 0;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  }
}

#sidebar.nav-open {
  margin-left: 0 !important;
}

#sidebar ul {
  margin-bottom: 15px;
}

.nav-list li.nav-header {
  font-size: var(--body-font-size);
  color: var(--secondary-color);
  display: block;
  padding: 3px 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: -5px;
}

/* right page navigation =========================================== */

#page-nav .icofont-laika {
  font-size: 1.2em;
  margin-right: 0.6em;
}

ul.nav-list, #page-nav ul {
  list-style: none;
}

#page-nav ul {
  margin: 12px;
}
#page-nav .level3 {
  margin-left: 18px;
  font-size: var(--code-font-size);
}
#page-nav a {
  display: block;
  color: var(--primary-color);
  font-weight: normal;
}
#page-nav .header, #page-nav .footer {
  padding: 5px 12px;
  margin: 0;
}
#page-nav .header {
  background-color: var(--primary-color);
}
#page-nav .footer {
  border-top: 1px solid var(--primary-medium);
}

ul.nav-list {
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0 0 0 15px;
}
#page-nav ul.nav-list {
  padding: 0;
  margin: 12px;
}
#page-nav .nav-list li {
  margin: 0 0 5px 0;
  line-height: 1.5;
}
#page-nav .nav-list .level1 {
  font-size: var(--body-font-size);
}
#page-nav .nav-list .level2 {
  margin-left: 18px;
  font-size: var(--code-font-size);
}
#page-nav .nav-list li a {
  padding: 0;
}
.nav-list li {
  margin-left: 10px;
  margin-bottom: 2px;
  line-height: 1.1;
  font-size: var(--body-font-size);
}

#page-nav li a:hover,
.nav-list li a:hover {
  background-color: rgba(0, 0, 0, 0.03);
  text-decoration: none;
}
.nav-list li a {
  display: block;
  padding: 3px 15px 4px 15px;
  color: var(--primary-color);
  font-weight: normal;
}
.nav-list .active a,
.nav-list .active a:hover,
#page-nav .header a,
#page-nav .header a:hover {
  color: var(--bg-color);
  background-color: var(--primary-color);
  text-decoration: none;
}
#page-nav .footer a,
#page-nav .footer a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.nav-list li + .nav-header {
  margin-top: 9px;
}

#page-nav {
  display: none;
  position: fixed;
  top: calc(45px + var(--top-bar-height));
  right: 45px;
  width: 250px;
  background-color: var(--primary-light);
  border-radius: 5px;
}

@media (min-width: 1450px) {
  #page-nav {
    display: inline-block;
  }
}

.icofont-laika {
  font-size: 1.75em;
}
