
#sidebar {
  position: fixed;
  background-color: var(--primary-light);
  width: var(--nav-width);
  margin-left: calc(var(--nav-width) * -1);
  left: 0;
  z-index: 1000;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: margin .25s ease-out;
}

@media (min-width: 1020px) {
  #sidebar {
    margin-left: 0;
    box-shadow: -2px 0 8px #c3d6d8;
  }
}

#sidebar.nav-open {
  margin-left: 0 !important;
}

.nav-list li.nav-header {
  font-size: 15px; /* TODO */
  color: var(--secondary-color);
  display: block;
  padding: 3px 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: -5px;
}

ul.nav, ul.nav-list, .nav ul, #page-nav ul {
  list-style: none;
}
#page-nav ul {
  margin: 12px;
}
#page-nav .level3 {
  margin-left: 18px;
  font-size: 14px; /* TODO */
}
#page-nav a {
  display: block;
  color: var(--primary-color);
  font-weight: normal;
}
#page-nav .header, #page-nav .footer {
  padding: 5px 12px;
  background-color: #006180; /* TODO */
  margin: 0;
}
ul.nav, ul.nav-list {
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0 0 0 15px;
}
.nav-list li {
  margin-left: 10px;
  margin-bottom: 2px;
  line-height: 1.1; /* TODO */
  font-size: 14px; /* TODO */
}

#page-nav li a:hover,
.nav-list li a:hover {
  background-color: #e4f0f2; /* TODO */
  text-decoration: none;
}
.nav-list li a {
  display: block;
  padding: 3px 15px 4px 15px;
  color: var(--primary-color);
  font-weight: normal;
}
.nav-list .active a,
.nav-list .active a:hover,
#page-nav .header a,
#page-nav .header a:hover,
#page-nav .footer a,
#page-nav .footer a:hover {
  color: #ffffff; /* TODO */
  background-color: #006180; /* TODO */
  text-decoration: none;
}
.nav li + .nav-header, .nav-list li + .nav-header {
  margin-top: 9px;
}

#open-nav-icon {
  color: var(--primary-color);
  background-color: var(--primary-light);
  display: inline-block;
  padding: 6px 6px 4px 6px;
  position: fixed;
  top: 0;
  left: 0;
  border: 15px solid rgba(255,255,255,0.8);
  background-clip: padding-box;
  border-bottom-right-radius: 7px;
}

#close-nav-icon {
  color: var(--primary-color);
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
}

#page-nav {
  display: none;
  position: fixed;
  top: 45px;
  right: 45px;
  width: 250px;
  border: 1px solid #c3d6d8; /* TODO */
  background-color: var(--primary-light);
  border-radius: 5px;
}

@media (min-width: 1020px) {
  #close-nav-icon {
    display: none;
  }
}

@media (min-width: 1450px) {
  #page-nav {
    display: inline-block;
  }
}

.icofont-xlg
{
  font-size: 1.75em;
}
