
/* top navigation bar =========================================== */

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--component-area-bg);
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--top-bar-height);
  z-index: 2000;
  width: 100%;
  align-items: center;
  padding: 0 45px 0 20px;
  border-bottom: 1px solid var(--component-border);
}
header a, nav .row a {
  color: var(--component-color);
}
header a:hover, nav .row a:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--component-hover)
}

header .image-link {
  height: var(--top-bar-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header img {
  max-height: calc(var(--top-bar-height) - 10px);
  width: auto;
}

header .row a, nav .row a {
  margin: 0 0 0 20px;
}
header .row.links {
  display: none;
}
nav .row {
  margin: 10px 15px 3px 25px;
  padding-bottom: 7px;
  border-bottom: 1px solid var(--component-border);
}

#nav-icon {
  display: inline-block;
}
@media (min-width: 1020px) {
  #nav-icon {
    display: none;
  }
}
@media (min-width: 500px) {
  header .row.links {
    display: block;
  }
  nav .row {
    display: none;
  }
}

header .row.links .row.links {
  display: inline-block;
}

.text-link {
  position: relative;
  bottom: 2px;
}

.button-link, #header-right .button-link, #header-left .menu-toggle, nav .row a.button-link {
  position: relative;
  bottom: 2px;
  display: inline-block;
  border-radius: 9px;
  padding: 0 7px;
  background-color: var(--component-color);
  color: var(--component-area-bg);
  font-size: 0.9em;
}
.button-link:hover, #header-right .button-link:hover {
  background-color: var(--component-hover);
  color: var(--component-area-bg);
  text-decoration: none;
}

/* menus =================================================== */

.menu-toggle:after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  margin-left: 0.5em;
  margin-bottom: 0.1em;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--component-color);
}

.menu-toggle:hover:after {
  border-top: 8px solid var(--component-hover);
}

.menu-container {
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  z-index: 5000;
  left: 20px;
  top: calc(var(--top-bar-height) - 10px);
  background-color: var(--bg-color);
  border: 1px solid var(--component-border);
  border-radius: 5px;
  white-space: nowrap;
}

.menu-content ul.nav-list {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}
.menu-content .nav-list li {
  margin-left: 0;
  margin-bottom: 2px;
}
.menu-content .nav-list li a {
  margin: 0;
  line-height: 1.2;
}
.menu-content.menu-open {
  display: block;
}

/* version menu =================================================== */

.left-column {
  display: inline-block;
  width: 3.5em;
}
.version-label {
  border-radius: 3px;
  padding: 1px 3px;
  color: white;
  font-size: 0.8em;
  margin-right: 1em;
}
.version-label.eol {
  background-color: gray;
}
.version-label.stable {
  background-color: green;
}
.version-label.dev, .version-label.development, .version-label.milestone {
  background-color: yellow;
  color: black;
}

/* navigation lists - common styles (menus, main nav, page nav) ==== */

.nav-list {
  font-size: var(--body-font-size);
}

.nav-list li {
  margin-left: 10px;
  margin-bottom: 2px;
  line-height: 1.1;
}

.nav-list li a {
  display: block;
  padding: 3px 15px 4px 15px;
  color: var(--primary-color);
  font-weight: normal;
}

/* left navigation bar =========================================== */

#sidebar {
  position: fixed;
  background-color: var(--primary-light);
  width: var(--nav-width);
  margin-left: calc(var(--nav-width) * -1);
  left: 0;
  z-index: 1000;
  height: calc(100% - var(--top-bar-height));
  top: var(--top-bar-height);
  overflow-x: hidden;
  overflow-y: auto;
  transition: margin .25s ease-out;
}

@media (min-width: 1020px) {
  #sidebar {
    margin-left: 0;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  }
}

#sidebar.nav-open {
  margin-left: 0 !important;
}

#sidebar ul {
  margin-bottom: 15px;
}

#sidebar ul.nav-list {
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0 0 0 15px;
}

#sidebar .nav-list li.level1 {
  margin-left: -5px;
  padding: 1px 0;
  font-size: 1.1em;
}

#sidebar .nav-list li.level1.nav-node {
  margin-bottom: 5px;
  border-bottom: 2px solid var(--secondary-color);
}

#sidebar .nav-list li.level1 a {
  margin-left: 0;
  padding: 3px 15px 4px 15px;
}

#sidebar .nav-list li.level1.nav-node a {
  padding-bottom: 1px;
}

#sidebar .nav-list li.nav-header {
  color: var(--secondary-color);
  display: block;
  padding: 3px 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: -5px;
  font-size: 1em;
}
#sidebar .nav-list li.level1.nav-header { /* for higher specificity */
  padding: 3px 15px;
}

#sidebar .nav-list li.nav-header.level2 {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 0.9em;
}

#sidebar .nav-list .level3 {
  margin-left: 18px;
  font-size: 0.9em;
}

/* right page navigation =========================================== */

#page-nav .icofont-laika {
  font-size: 1.2em;
  margin-right: 0.6em;
}

ul.nav-list, #page-nav ul {
  list-style: none;
}

#page-nav ul {
  margin: 12px;
}
#page-nav .level3 {
  margin-left: 24px;
  font-size: 0.9em;
}
#page-nav a {
  display: block;
  color: var(--primary-color);
  font-weight: normal;
}
#page-nav .header, #page-nav .footer {
  padding: 5px 12px;
  margin: 0;
}
#page-nav .header {
  background-color: var(--primary-color);
}
#page-nav .footer {
  border-top: 1px solid var(--component-border);
}

#page-nav ul.nav-list {
  padding: 0;
  margin: 12px;
}
#page-nav .nav-list li {
  margin: 0 0 5px 0;
  line-height: 1.5;
}
#page-nav .nav-list .level1 {
  font-size: 1em;
}
#page-nav .nav-list .level2 {
  margin-left: 18px;
  font-size: 0.9em;
}
#page-nav .nav-list li a {
  padding: 0;
}

#page-nav li a:hover,
.nav-list li a:hover {
  background-color: rgba(0, 0, 0, 0.03);
  text-decoration: none;
}

.nav-list .active a,
.nav-list .active a:hover,
#page-nav .header a,
#page-nav .header a:hover {
  color: var(--bg-color);
  background-color: var(--primary-color);
  text-decoration: none;
}
#page-nav .footer a,
#page-nav .footer a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.nav-list li + .nav-header {
  margin-top: 9px;
}

#page-nav {
  display: none;
  position: fixed;
  height: 80%;
  overflow-y: auto;
  top: calc(45px + var(--top-bar-height));
  right: 45px;
  width: 250px;
  background-color: var(--primary-light);
  border-radius: 5px;
}

@media (min-width: 1450px) {
  #page-nav {
    display: inline-block;
  }
}
@media (max-width: 1450px) {
  #page-nav.all-screens {
    display: block;
    position: static;
    width: 100%;
    max-width: var(--content-width);
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    padding: 75px 45px 10px 45px;
  }
}

.icofont-laika {
  font-size: 1.75em;
}
