
ul.toc, .toc ul {
  list-style: none;
}
.toc.nav-header {
  font-size: var(--title-font-size);
  margin-bottom: 20px;
  margin-top: 36px;
  background: linear-gradient(180deg, #ffffff 65%, #c3d6d8 65%); /* TODO - var */
  color: var(--secondary-color);
  display: block;
  padding: 3px 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: -5px;
  line-height: 20px;
}
.toc.active {
  display: none;
}
.toc.level2 {
  font-size: var(--header2-font-size);
  color: var(--primary-color);
  margin-left: 10px;
  margin-top: 20px;
}
.toc.level3 {
  font-size: var(--header3-font-size);
  margin-left: 25px;
}
.toc.level4 {
  font-size: var(--body-font-size);
  margin-left: 40px;
}
.toc.level3 a, .toc.level4 a {
  color: var(--primary-color);
}
p.toc {
  margin-bottom: 5px;
}
