
ul.toc, .toc ul {
  list-style: none;
}
.toc.nav-list li {
  line-height: 1.4;
}
.toc.nav-list a {
  font-weight: bold;
  color: var(--primary-color);
}
.toc.nav-list li.nav-header {
  font-size: var(--title-font-size);
  margin-bottom: 20px;
  margin-top: 36px;
  background: linear-gradient(180deg, var(--bg-color) 65%, var(--primary-medium) 65%);
  color: var(--secondary-color);
  display: block;
  padding: 3px 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: -5px;
  line-height: 20px;
}
.toc.active {
  display: none;
}
.toc.level2 {
  font-size: var(--header2-font-size);
  margin-left: 10px;
  margin-top: 20px;
}
.toc.level2 a {
  color: var(--secondary-color);
}
.toc.level3 {
  font-size: var(--header3-font-size);
  margin-left: 25px;
}
.toc.level4 {
  font-size: var(--body-font-size);
  margin-left: 40px;
}
.toc.level3 a, .toc.level4 a {
  color: var(--primary-color);
}
p.toc {
  margin-bottom: 5px;
}
